.block-calc  { display: block; height: 190px; }
.block-calc { margin-top:-23px;}
.calc-left { float:left;  width:110px; padding-top:15px; }
.calc-right {  float:left;  padding-left:15px; width:280px; }
.plan-calc-list { display: block; } 
.plan-calc-list > li 
{ 
	width:33.333%; 
	float:left; 
	
	text-align: center; 
	padding:5px 0;
	position: relative;
	cursor: pointer;
}

.plan-calc-list > li:after {
    height: 100%;
    width: 100%;
    display: block;
    background: #6a89a8;
    left: 0px;
    top: 0px;
    opacity: 0.2;
    z-index: -1;
    content: '';
    -webkit-transform: skew(15deg, 0deg);
    -moz-transform: skew(15deg, 0deg);
    -o-transform: skew(15deg, 0deg);
    -ms-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
    z-index: 0;
    position: absolute;
}
.plan-calc-list > li.active:after
{
	background: url('../images/btn-bg1.png') center center no-repeat;
	opacity: 0.8;
}

.plan-calc-list > li > p
{
color:#fff;
font-family: 'Conthrax-sb';
position: relative; z-index:10;
	display: block; margin:0; 
	line-height: 10px;

}
.plan-calc-list > li > p > span { display: block; font-size:10px; }

.calc-field { display: block;  padding:5px 15px; position: relative; }
.calc-field span { text-transform: uppercase; color:#fff; font-size:10px;}
.calc-field > input 
{  
    color:#fff; 
    font-family: 'Conthrax-sb';
    padding-left:60px;
    border: 1px solid rgba(161, 220, 245, 0.11);
    border-bottom: 1px solid rgba(55, 163, 210, 0.27);
    background: url('../images/btn-bg-bottom.png') left 23px repeat-x, rgba(0, 157, 189, 0.25);
}
.calc-field i.btc { position: absolute;}
.calc-field i.btc:before
{
    box-shadow: inset 0 0 33px rgba(118, 232, 255, 0.5);
}
.calc-field.calc-field-days { text-align: center; margin-top:-90px; }