.border { border: 1px solid #000;}
.none  {display: none; }
.animated 
{     
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
hr.hr-class 
{ 
    display: block;  
    height: 3px; 
    box-shadow:none;
    border:none;
}
h1
{
    display: inline-block;
    font-size:38px;
    width: auto;
    position: relative;
    text-align:left;
    padding:0;
    margin:0px 0px 20px 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color:#fff;
    font-weight: 500;
    padding:0;
    text-transform: uppercase;
    font-family: 'Conv_CoreSans';
}
h1>small { display: block; color:#fff;  font-weight:200;}
h1:before 
{ 
    height:73px; 
    width:73px;
    position: absolute; 
    left:-35px;
    top:-29px;
    background: url('../images/h1-bg.png') center center no-repeat;
    
    content: '';
   
}
h2
{
    display: inline-block;
    font-size:30px;
    width: auto;
    position: relative;
    text-align:left;
    padding:0;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    margin:-20px 0px 20px 20px;
    text-transform: uppercase;
    background: url('../images/greed1.png'), #fcfeff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    color:#1e3046;
    font-style:normal;
    font-family: 'Conv_etna';
    padding:0px 10px 0 10px;
}
h2 > small { display: block;  color:#10628d; letter-spacing: 2px; line-height: 16px; font-size: 11px; font-family: 'Conv_CoreSans'; }
h3
{
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height:20px;
    position: relative;
    font-family: 'Conv_etna';
    font-weight:normal;
    color: #10596f;
    margin:0px 0px 0px 0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
h3 > span { font-size:22px;}
h4
{
    display: inline-block;
    font-size:17px;
    width: auto;
    position: relative;
    text-align:left;
    padding:0;
    vertical-align: top;
    margin:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
    font-style:normal;
    font-family: 'Conv_etna';
    padding:10px 0 15px 0;
    text-transform: uppercase;
}
a.btn
{
    display: inline-block;
    color:#fff !important;
    text-transform: uppercase;
    font-size:15px;
    line-height: 42px;
    height: 42px;
    font-weight: 300;
    margin:0px 5px;
    box-shadow:0;
    border-radius: 0;
    vertical-align: top;
    width: 167px;
    z-index:100;
    position: relative;
    border:none;
    z-index:10;
    position: relative;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
a.btn> span 
{  
    position: absolute; 
    left:0; 
    top:0;
    font-family: 'Conv_etna';
    line-height: 40px;
    display: block; height: 42px; width:100%; 
    background: url('../images/btn-bg2.png') center center no-repeat;
    background-size:auto 100%;
    text-shadow: 0 0 10px rgb(29, 114, 155);
}
a.btn:after 
{ 
    height: 100%; 
    width:100%;
    display: block;
    position: absolute; 
    left:-7px;
    background: url('../images/btn-bg2-before.png') center center no-repeat;
    background-size: auto 100%;
    content: '';
    z-index:-1;
    top:-7px;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
a.btn:hover {   border:none; }
a.btn:hover:after { top:0; left:0;}
input[type=text], input[type=password], select
{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(7, 94, 132, 0.11);
    border-radius: 0px;
    border-bottom: 1px solid rgba(7, 94, 132, 0.27);
    color:#10668c;
    margin-top:0px;
    background: url('../images/btn-bg-bottom.png') left 23px repeat-x, rgba(0, 148, 182, 0.05);
    text-align: left;
    font-family: 'Conv_CoreSans';
    font-size: 14px;
}
textarea
{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
    border: none;
    resize:none;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height: 100px;
    outline: none;
    border: none;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(7, 94, 132, 0.11);
    border-radius: 0px;
    border-bottom: 1px solid rgba(7, 94, 132, 0.27);
    color:#10668c;
    margin-top:0px;
    background: rgba(0, 148, 182, 0.05);
    text-align: left;
    font-family: 'Conv_CoreSans';
    font-size: 14px;

}
textarea:focus,input[type=text]:focus,input[type=password]:focus
{
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.submit 
{ 
   display: inline-block;
   position: relative;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: url('../images/btn-bg.png') center center no-repeat;
    border:none;
    height: 40px;

}

input[type=submit]
{
    display: inline-block;
    color: #fff !important;
    //text-transform: uppercase;
    font-size: 14px;
    padding: 0 25px 3px 25px;
    line-height: 30px;
    height: 35px;
    border-radius: 0px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    background:none;
    border:none;
    outline: none;
    font-family: 'Conv_etna';
    font-weight: 100;
    position: relative;
    z-index: 10;
     background:  url('../images/btn-bg-bottom.png') left bottom repeat-x,
            url('../images/btn-bg1.png') center center no-repeat;
    color:#fff;
    border-radius:1px;
    box-shadow:inset 0 0 5px #2d87ae, 0 0 0 3px  rgba(10, 113, 155, 0.07);
}
input[type=button]
{
    display: inline-block;
    color: #fff !important;
    //text-transform: uppercase;
    font-size: 14px;
    padding: 0 25px 3px 25px;
    line-height: 30px;
    height: 35px;
    border-radius: 0px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    background:none;
    border:none;
    outline: none;
    font-family: 'Conv_etna';
    font-weight: 100;
    position: relative;
    z-index: 10;
     background:  url('../images/btn-bg-bottom.png') left bottom repeat-x,
            url('../images/btn-bg1.png') center center no-repeat;
    color:#fff;
    border-radius:1px;
    box-shadow:inset 0 0 5px #2d87ae, 0 0 0 3px  rgba(10, 113, 155, 0.07);
}


input[type=submit]:hover {  box-shadow:inset 0 0 15px #2d87ae, 0 0 0 3px  rgba(10, 113, 155, 0.12); }
input::-moz-placeholder
{
  color:rgba(54,64,74,0.66);
}
input::-webkit-input-placeholder {
  color:rgba(54,64,74,0.66);
}
textarea::-moz-placeholder
{
  color:rgba(54,64,74,0.66);
}
textarea::-webkit-input-placeholder {
  color: rgba(54,64,74,0.66);
}
.fields input::-moz-placeholder
{
  color:rgba(255,255,255,0.66);
}
.fields input::-webkit-input-placeholder {
  color:rgba(255,255,255,0.66);
}

.container { width:1000px; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2-5 {
    width: 20%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }






.scene {
  padding: 0;
  margin: 0;

}

.fill {
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  width:100%;
  overflow: hidden;
    height: 430px;
  z-index:1000;
  top: 0px;
}


.button 
{
    
    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 5px;
    position: relative;
    z-index:1000;
       -webkit-box-shadow: 0px 2px rgba(128, 128, 128, 0.49), 
       /* gradient effects */ 0px 3px rgba(118, 118, 118, 0.37), 0px 4px rgba(108, 108, 108, 0.46), 0px 5px rgba(98, 98, 98, 0.55), 
       0px 6px rgba(88, 88, 88, 0.45), 0px 6px rgba(78,78,78,1), 0px 10px 4px -1px rgba(128, 128, 128, 0.26);
     
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 
.button.button-blue { }
.button span {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 5px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 1px 20px 0px 20px;
    color: #3A474D;
    height:30px;
    line-height: 30px;
    font-family: 'Conv_TypoGraphica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}



        .button span:hover {
            color: #135366;
            
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

  

    

#scene { z-index:0;}

.layer {  display: block; height: 100%; width:100%; position: absolute; left:0; top:0; }
.layer.layer-1 {  }
.layer.layer-1  img { 
    position: absolute;
    left: 230px;
    width: 180px;
    top: 30px;
}
.layer.layer-2  img { 
    position: absolute;
    left: 260px;
    /* width: 150px; */
    top: 180px;
    width: 150px;
     }
.layer.layer-3  img {
        position: absolute;
    left: 530px;
    top: 65px;
    width: 120px;
     }
.layer.layer-4  img {
    position: absolute;
    left: 340px;
    top: 70px;
    z-index: -1000;
    width: 250px;
 }
.layer.layer-5  img { 
    position: absolute;
    left: 430px;
    width: 200px;
    top: 120px;
}