@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../fonts/Roboto-Regular.ttf) format("truetype");
}

.intro {
  background-image: url(../../images/intro.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.intromobile {
  background-image: url(../../images/intromobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.title:before{
  height: 73px;
  width: 73px;
  position: absolute;
  left: 15px;
    top: 40px;
  background: url(../../pages/homepage/images/intrbg.svg) center center no-repeat;
  content: ''
}